body {
    background-color: black;

}

.img1 {
    height: 500px;

}


.img2 {
    width: 450px;
    height: 400px;


}

.display-1 {
    margin-top: 20px;
    color: rgba(48, 42, 7, 0.916);
    text-decoration: solid;
    font-family: 'Knewave', cursive;
    font-family: 'Lobster', cursive;
}

.display-3 {
    color: rgba(31, 27, 2, 0.91);
    text-decoration: solid;
    font-family: 'Knewave', cursive;
    font-family: 'Lobster', cursive;
}

.btn2 {
    margin: 100px;
    width: 200px;
    height: 50px;
    border-radius: 20px;

}

.parent {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.col3 {
    width: 390px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    transition: all 3s ease-in-out
}

.col3:hover {
    background-size: 150%;
}

.sec1 {
    background-image: url(./img/brush1.webp);
}

.sec2 {
    background-image: url(./img/stdlr.webp);
}

.sec3 {
    background-image: url(./img/canvas4.jpg);
}

.sec4 {
    background-image: url(./img/pelettee.avif);
}

.sec5 {
    background-image: url(./img/paint3.jpg);
}
.sec6 {
    background-image: url(./img/PaintingEasels.webp);
}
.title {
    font-size: 30px;
    color: rgb(252, 251, 251);
    text-align: center;
    text-decoration: none;
    background-color: rgba(64, 23, 23, 0.632);
}
.product {
    text-align: center;
    color: aliceblue;
}
.rent {
    display: flex;
    justify-content: center;
}
.title2 {
    text-align: center;
}
.reg {
    width: 600px;
    height: 500px;
}
.easel {
    width: 600px;
    height: 500px;
}
.sub {
    background-color: black;
    color: white;
}

.col3 .btn{
margin-top: 300px;
margin-left: 130px;
width: 130px;
height: 40px;
font-size: medium;
color: antiquewhite;
background-color: rgba(23, 3, 1, 0.574);
}
@media(max-width:600px){
    .parent{
        
        display: block;
    }
   .rent{
    display: block;
   }
}